/*---------------------------------------------------------------
 Global styles
----------------------------------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  background-color: #8CC461;
}


/* 
-------------------------------------------------------------------------------
HTML elements 
-------------------------------------------------------------------------------
*/

.allwrapper{
  /* width: 100vw; */
  height: 100%;
  background-color: #8CC461;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  /* background: radial-gradient(
    134.34% 134.34% at 50% 0%,
    #1f3757 0%,
    #131537 100%
  ); */
}

.scoreboard {
  width: 700px;
  height: 150px;
  border-radius: 15px;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.title {
  padding-left: 30px;
}

.score {
  /* width: 150px;
  height: 114px;
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 130px;
    margin-left: 15px;
    background-color: #FFFFFF;
    border-radius: 9px;
    text-align: center;
    padding: 10px;

}
/* .cscore p{
  color:#656565;
    size: 17px;
    font-weight: 600;
} */
.cscore{
  /* width: 150px;
  height: 114px;
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 130px;
    margin-left: 15px;
    background-color: #FFFFFF;
    border-radius: 9px;
    text-align: center;
    padding: 10px;

}
.cscore h1{
  color: #252525;
  font-size: 56px;
  font-family: "Barlow", sans-serif;
}
.cscore p{
  color: #656565;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 2.5px;
  /* text-align: left; */
}
.score h1 {
  color: #252525;
  font-size: 56px;
  font-family: "Barlow", sans-serif;
}

.score p {
  color: #656565;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 2.5px;
  /* text-align: left; */
}


.hands {
  background-image: url("../assets/triangle.png");
  background-position: center;
  background-repeat: no-repeat;
  visibility: visible;
  opacity: 1;
  position: relative;
  width: 476px;
  /* height: 430px; */
  margin-top: 50px;
  display: flex;
  z-index: 0;
  flex-wrap: wrap;
  justify-content: center;
}
.hands img {
  width: 200px;
  height: 200px;
  display: block;
}

.hands .paper {
  margin-right: 20px;
}

.hands .scissors {
  margin-left: 20px;
}

.hands .hand {
  cursor: pointer;
  transition: all 0.25s;
}

.hands .hand:hover {
  transform: translate3d(0px, -8px, 0px);
}

.contest {
  display: none;
  margin-top: 50px;
  width: 900px;
}

.contest img {
  width: 275px;
  height: 275px;
}

.contest > div {
  flex: 1;
}

.contest h1 {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.contest .newGame {
  color: hsl(229, 25%, 31%);
  background-color: white;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.15s;
}

.newGame:hover {
  background: rgb(218, 218, 218);
  transform: translate3d(0px, -2px, 0px);
}

.contest .handImageContainer {
  display: flex;
  justify-content: center;
}

.referee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.referee h1 {
  font-size: 45px;
  color: white;
}

.computerhand {
  display: flex;
  flex-direction: column;
}


/* .rule button{
  background-color: transparent;
  color: #ffff;
  border: 2px solid #ffff;
  font-size: 18px;
  font-weight: 500;
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  float: right;
  margin: 20px;
  margin-left: 80rem;
}
.rule button:hover{
  background-color: #ffff;
  color: #6b6b6b;
  transition: all 0.2s ease-in-out;
}

.next button{
  background-color: transparent;
  color: #ffff;
  border: 2px solid #ffff;
  font-size: 18px;
  font-weight: 500;
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  float: right;
  margin: 20px;
  margin-left: 80rem;
}
.rule{
  display: flex;
}

.part3{
  position: sticky;
  top: 100%;
  display: flex;
} */
.part3{
  /* float: right;
  position: sticky; */
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  /* top: 100%; */
}
#rulebtn{
  background-color: transparent;
  color: #ffff;
  border: 2px solid #ffff;
  font-size: 18px;
  font-weight: 500;
  padding: 0.6rem 1.5rem;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
}
#rulebtn:hover{
  background-color: #ffff;
  color: #6b6b6b;
  transition: all 0.2s ease-in-out;
}
#nextbtn{
  background-color: transparent;
    color: #ffff;
    border: 2px solid #ffff;
    font-size: 18px;
    font-weight: 500;
    padding: 0.6rem 1.5rem;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
}
#nextbtn:hover{
  background-color: #ffff;
  color: #6b6b6b;
  transition: all 0.2s ease-in-out;
}
.title h1{
  color: #FFFFFF;
}

.allscore{
  display: flex;
    padding: 20px;
}